{% extends 'base.html' %}
{% from "macros-forms.html" import state, errors with context %}
{% block title %}Sign in{% endblock %}
{% block main %}
<p class="bodytext text-justify">In order to contribute changes to the Catalog, you must sign in.</p>
{% if providers %}
<p class="bodytext text-justify">You can sign in with one of these OpenID Connect providers:</p>
<ul>
  {% for p in providers %}
  <li><a href="{{ url_for('oauth_authorize', provider=p['slug']) }}">Sign in with {{ p['name'] }}</a></li>
  {% endfor %}
</ul>
{% endif %}
<p class="bodytext text-justify">{% if providers %}Alternatively, you can{% else %}Please{% endif %} sign in through the
  Research Data Alliance website.
  To find the URL for your OpenID account, log in to the Research Data Alliance
  website and view your own profile. Take the URL of that page and add
  <code>/openid</code>.
</p>
<p class="bodytext text-justify">If you have an account with another OpenID v2 provider, you can use that
  instead. Please consult your provider's documentation for the right URL to
  use; some known URL patterns are provided below.</p>
<form action="{{ url_for('auth.login') }}" method=post class="form-horizontal">
  {{ form.hidden_tag() }}
  <div class="form-group {{ state(form.openid) }}">
    {{ form.openid.label(class="col-sm-3 control-label myLeft mylabel myZeroPadding") }}
    <div class="col-sm-9">
      <div class="input-group mylabel ">
        {{ form.openid(placeholder="URL for your OpenID account", class="form-control myBottomMargin pull-left") }}
        <span class="input-group-btn pull-right">
          <button class="button btn-primary bg-blue btn-lg myBlue pull-right align-self-end"><span
              class="btn-text myLeft"><span>Sign in</span></button>
        </span>
      </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}">
  </div>
</form>
<div class="container">
  {{ errors(form.openid) }}
</div>
<table class="table table-striped" style="margin-top:16px;">
  <tr>
    <th>Research Data Alliance</th>
    <td><code>https://www.rd-alliance.org/users/</code>(username)<code>/openid</code></td>
  </tr>
</table>
{% endblock %}